extends pug/page-templates/tpl_home.pug

block title
    title Congreso Internacional Impresión 3D + Salud

block contenido
    .block.block--gracias
        .field.field--name-gracias-image
            img(src="images/alambre.png" alt="Imagen Congreso Impresion 3D + Salud")
        .field.field--name-gracias-body
            .field--name-gracias-body--titleh1
                |Registro Historico del Congreso Internacional
            .field--name-gracias-body--titleh2
                a(href="/primer_congreso/" style="color:white;") ∙ 1er Congreso Internacional Impresión 3D + Salud (2019)
                br
                a(href="/" style="color:white;") ∙ 2do Congreso Internacional Impresión 3D + Salud (2021)
                br
                span
                    img(src="images/icon-mas.svg" alt="Imagen Congreso Impresion 3D + Salud" style="float:right;")
            .field--name-hero-gracias--titleh3
    

    
