extends pug/page-templates/tpl_home.pug

block title
    title Congreso Internacional Impresión 3D + Salud

block contenido
    .block.block--gracias
        .field.field--name-gracias-image
            img(src="images/alambre.png" alt="Imagen Congreso Impresion 3D + Salud")
        .field.field--name-gracias-body
            .field--name-gracias-body--titleh1
                |Gracias por registrar sus datos!
            .field--name-gracias-body--titleh2
                |En breve una persona de la organización del evento se contactará contigo, para resolver tus dudas
                span
                    img(src="images/icon-mas.svg" alt="Imagen Congreso Impresion 3D + Salud")
            .field--name-hero-gracias--titleh3
    

    




            










            
            



    



