+modal-item('exampleModal', '/images/curso1.jpg')
+modal-item('exampleModal2', '/images/curso2.jpg')
+modal-item('exampleModal3', '/images/curso3.jpg')
footer 
  .container
    .block.block--footer
      .field.field--name-footer--grid
          .field--name-footer--col1
              img( src="/images/logo-ueb-black.svg")
          .field--name-footer--col2
              img( src="/images/logo-iex.svg" style="height:90%")
          .field--name-footer--col3
              .field--name-footer--title Contácto
              .field--name-footer--name Adriana Gómez
              .field--name-footer--email 
                  a(href="mailto:gomezvadriana@unbosque.edu.co") gomezvadriana@unbosque.edu.co
              .field--name-footer--body 
                  |PBX.: 648 9013<br>Extensión:1310<br>Edificio Hub iEX<br>Av. Cra. 9 No. 131 A - 02
          .field--name-footer--col4
              .field--name-footer--title.blue-color Organiza:
              .field--name-footer--body.blue-color 
                  |Programa de Diseño Industrial<br>Facultad de Creación y Comunicación 
              .field--name-footer--title Colaboradores:
              .field--name-footer--body 
                  |Facultad de Medicina<br>Facultad de Odontología
          .field--name-footer--col1
              img( src="/images/logo-gobierno.jpg")
          .field--name-footer--col2
              img( src="/images/logo-impulsa.jpg")
          .field--name-footer--col3(style="margin-top:0;")
              img( src="/images/logo-emprende.jpg")
          .field--name-footer--col4(style="margin-top:0;")
              img( src="/images/logo-wayra.jpg")
