+modal-item('exampleModal', '/images/curso1.jpg')
+modal-item('exampleModal2', '/images/curso2.jpg')
+modal-item('exampleModal3', '/images/curso3.jpg')
footer 
  .container
    .block.block--footer
      .field.field--name-footer--grid
          .field--name-footer--col1
              img( src="/images/logo-ueb-black.svg")
          .field--name-footer--col2
              img( src="/images/logo-iex.svg" style="height:70%;margin-top: 10%;")
          .field--name-footer--col3
              .field--name-footer--title Contácto
              .field--name-footer--name(style="margin-top: 10px;") Juan Ávila 
              .field--name-footer--email 
                  a(href="mailto:avilajuan@unbosque.edu.co") avilajuan@unbosque.edu.co
              .field--name-footer--name(style="margin-top: 10px;") David Cañón
              .field--name-footer--email 
                  a(href="mailto:dcanons@unbosque.edu.co") dcanons@unbosque.edu.co
              .field--name-footer--name(style="margin-top: 10px;") Maria Camila Coral
              .field--name-footer--email 
                  a(href="mailto:mcorald@unbosque.edu.co") mcorald@unbosque.edu.co
            
          .field--name-footer--col4
              .field--name-footer--title.blue-color Organiza:
              .field--name-footer--body.blue-color 
                  |Programa de Diseño Industrial<br>Facultad de Creación y Comunicación 
              .field--name-footer--title Colaboradores:
              .field--name-footer--body 
                  a(href="https://www.unbosque.edu.co/educacion-continuada" target="_blank") División de Educación Continuada
          .field--name-footer--col5
              img( src="/images/logo-gobierno.jpg")
          .field--name-footer--col6
              a(href="https://www.innpulsacolombia.com/" target="_blank")
                img( src="/images/logo-impulsa.jpg")
          .field--name-footer--col7(style="margin-top:0;")
              a(href="https://innpulsacolombia.com/cemprende/" target="_blank")
                img( src="/images/logo-emprende.jpg")
          .field--name-footer--col8(style="margin-top:0;")
              a(href="https://hispam.wayra.com/" target="_blank")
                img( src="/images/logo-wayra.jpg")