header
  .container
    .row
      nav.navbar.navbar-expand-lg
        a.navbar-brand(href='/') 
          img(src="images/logoueb.svg" alt="Logo Universidad El Bosque")
        button.navbar-toggler.collapsed(type='button' data-toggle='collapse' data-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
          span.close(aria-hidden='true') &times;
          span.navbar-toggler-icon
        #navbarNavAltMarkup.collapse.navbar-collapse
          .navbar-nav
            a.nav-item.nav-link(href='/')
              | Home 
              span.sr-only (current)
            a.nav-item.nav-link(href='#invitados') Invitados
            a.nav-item.nav-link(href='#asitir') Asistencia
            a.nav-item.nav-link(href='#agenda_academica') Agenda
            a.nav-item.nav-link(href='#trigger3') Patrocinadores
            a.nav-item.nav-link(href='congreso_registro.html' target="_blank") Agenda